@import "../../../style.scss";

.imageDiv {
  text-align: center;
  width: 400px;
  height: 200px;
}

.links {
  display: flex;
  justify-content: end;
  font-size: 24px;

  svg:hover {
    cursor: pointer;
  }
}

.cardTitle {
  color: $second-color-blue;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 700;
}

.cardContent {
  color: $main-color-gray;
  font-style: italic;
  font-size: 22px;
  font-weight: 300;
}

.cardPrice {
  font-size: 30px;
}
